/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	font-family: Microsoft Yahei;
	color: #656d78;
	background-color: #f5f7fa;
}
input{
	font-family: Microsoft Yahei;
}
a {
	color: #656d78;
	text-decoration: none;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
ul li{
	list-style:none;
}
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

.header{
	width:1190px;
	height: 110px;
	margin:0px auto;
	padding-top:20px;
}
.main {
	width:1190px;
	margin:19px auto;
	position:relative;
}
.icon-common {
	background-image: url("../img/icon-common.png");
	background-repeat: no-repeat;
}
.title1{
	font-size:20px;
	color:#1A7AAA;
}
.title2{
	font-size:18px;
	color:#1A7AAA;
}
.title3{
	float: left;
	margin: 0;
	padding-left: 20px;
	font: 18px arial,"Hiragino Sans GB","Microsoft YaHei",SimHei,sans-serif;
	color: #434a54;
}
.input_text{
	width:300px;
	height:30px;
	line-height:30px;
	font-size:18px;
	border:#e1e1e1 1px solid;
	padding:5px 5px;
	border-radius: 3px;
}
.confirm_bt{
	width:100px;
	height:35px;
	line-height:35px;
	font:15px Microsoft Yahei;
	border:none;
	cursor:pointer;
	background-color:#2d9dd5;
	color:white;
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.confirm_bt:hover{
	background-color:#1A7AAA;
	color:white;
}
.page_bt{
	text-decoration:none;
	display:inline-block;
	width:100px;
	text-align:center;
	height:25px;
	line-height: 25px;
	font-size:14px;
	cursor:pointer;
	border:1px solid #2d9dd5;
	color:#2d9dd5;
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.page_bt:hover{
	background-color:#2d9dd5;
	color:white;
}
.no{
	text-decoration:none;
	display:inline-block;
	width:100px;
	text-align:center;
	height:25px;
	line-height: 25px;
	font-size:14px;
	cursor:not-allowed;
	border:1px solid #CCC;
	color:#CCC;
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.a_bt_rig{
	display:inline-block;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	border:1px solid #2d9dd5;
	background-color:white;
	color:#2d9dd5;
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.a_bt_rig:hover{
	background-color:#1A7AAA;
	color:white;
}
.a_bt_err{
	display:inline-block;
	height:30px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	border:1px solid rgb(200,50,50);
	background-color:white;
	color:rgb(200,50,50);
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.a_bt_err:hover{
	background-color:rgb(200,50,50);
	color:white;
}
.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
}
.dots li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid rgba(221,66,80,.8);
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.dots li.active {
	background: rgba(221,66,80,.9);
	opacity: 1;
}
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.mg_t10{
	margin-top:10px;
}
.mg_t20{
	margin-top:20px;
}
.mg_b10{
	margin-bottom:10px;
}
.mg_l10{
	margin-left:10px;
}
.mg_r10{
	margin-right:10px;
}
.mr_t80 {
	margin-top: 80px;
}
.mr_r50 {
	margin-top: 50px;
}
.mr_l150 {
	margin-left: 150px !important;
}
.pd_l20 {
	padding-left: 20px;
}
.width100{
	width:100px !important;
}
.width150{
	width:150px !important;
}
.width200{
	width:200px;
}
.width300{
	width:300px;
}
.width400{
	width:400px;
}
.width50{
	width:50px;
}
.width430{
	width:430px;
}
.height40{
	height:40px !important;
}
.text-left{
	text-align:left !important;
}
.b-none{
	border:none !important;
}
.margin-auto{
	margin:0 auto;
}
.text-intent2{
	text-indent: 2em;
}
.color-red{
	color:#dd4250;
}
.color-red2{
	color:#FF99B2;
}
.color-bule{
	color: #005ea7;
}
.color-bule2{
	color: #007CDA;
}
.dont_display{
	display:none;
}
.new_head{
	height:45px;
	line-height:45px;
	/*background-color:rgb(233,233,233);*/
	font-size:18px;
	color:rgb(45,157,213);
	padding-left:20px;
	border-bottom:1px solid #1A7AAA;
}
.new_head .close{
	float:right;
	font-size:22px;
	color:rgb(240,20,20);
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid rgb(240,20,20);
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	cursor:pointer;
	margin:10px;
}
.new_head .close:hover{
	color:white;
	background-color:rgb(240,20,20);
}
.radius4{
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.radius3{
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
select{
	font-family:Microsoft Yahei;
}