@charset "utf-8";
.footer{
	width:1190px;
	margin: 30px auto 0;
	height: 150px;
	color: #999;
	background-color: #fff;
}
.footer .link{
	width:400px;
	margin: 0 auto;
	font-size: 14px;
	padding: 35px 0 20px;
	color: #666;
}
.footer .link ul li{
	float:left;
	width:100px;
}
.footer .link ul li span{
	padding-left:20px;
}
.footer .link a:hover{
	color: #dd4250;
	cursor:pointer;
}
.footer .copy{
	padding-top:20px;
	text-align: center;
	font-size: 14px;
}