@charset "utf-8";
.modal-backdrop {
	opacity: .2;
	filter: alpha(opacity=20);
	position: fixed!important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	display:none;
}
.header .top .logo {
	width:330px;
	float:left;
}
.header .top .search {
	position:relative;
	width:390px;
	float:left;
}
.header .top .search .search_txt {
	width:364px;
	height:30px;
	line-height:30px;
	text-indent:6px;
	font-size:14px;
	padding:2px 2px;
	border:3px solid #dd4250;
	background: #fff;
	outline:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.header .top .search .search_bt {
	position:absolute;
	width:17px;
	height:18px;
	left:347px;
	top:10px;
	background-position:-223px -51px;
	background-color:white;
	cursor:pointer;
	border:none;
}
.header .top .search .search_bt:hover {
	position:absolute;
	left:335px;
	top:3px;
	width:36px;
	height:34px;
	background-position:-402px -12px;
}
.header .top .search .hot a {
	color:  #aab2bd;
	margin-right:10px;
	font-size:12px;
}
.header .top .search .hot a:hover{
	color: #333;
}
.header .top .menu {
	float:right;
	height:40px;
	line-height:40px;
	padding-top:15px;
}
.header .top .menu ul li {
	float:left;
}
.header .top .menu ul li {
	font-size:12px;
	display:inline-block;
	height:15px;
	line-height:15px;
	text-align:center;
	border-right:1px solid #ccd1d9;
	padding:0px 12px;
}
.header .top .menu ul li a:hover {
	color: #f84858;
	cursor:pointer;
}
.header .top .menu .login-panel{
	position: fixed!important;
	top: 50%;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	margin-top: -200px;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
	display:none;
}
.header .top .menu .login-panel .login-head{
	padding: 5px 15px;
	border-bottom: 1px solid #eee;
}
.header .top .menu .login-panel .login-head h3{
	margin: 0;
	font-size:16px;
	display:inline-block;
}
.header .top .menu .login-panel .login-head .close{
	margin-top: 2px;
	cursor: pointer;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity=20);
}
.header .top .menu .login-panel .login-head .close:hover{
	color: #dd4250;
	text-shadow: 0 1px 0 #dd4250;
}
.header .top .menu .login-panel .login-main{
	width: 465px;
	margin: 0 0 0 110px;
}
.header .top .menu .login-panel .login-main dd{
	padding: 10px 0!important;
	margin-top:30px;
}
.header .top .menu .login-panel .login-main dd input{
	width: 71%;
	color: #333;
	border: 1px solid #e1e1e1;
	float: left;
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
}
.header .top .menu .login-panel .login-main .miniLogin_auto{
	width: 71%;
	font-size:12px;
}
.header .top .menu .login-panel .login-main .miniLogin_auto label {
	float: left;
}
.header .top .menu .login-panel .login-main .miniLogin_auto label input {
	vertical-align: middle;
	margin-right: 3px;
}
.header .top .menu .login-panel .login-main .miniLogin_auto p {
	float: right;
	text-align: right;
}
.header .top .menu .login-panel .login-main .miniLogin_btn {
	width: 71%;
}
.miniLogin_btn input {
	float: left;
	color: #fff;
	background: #dd4250;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(#ed5466,0),color-stop(#dd4250,1));
	background: -webkit-linear-gradient(top,#ed5466 0,#dd4250 100%);
	background: -moz-linear-gradient(top,#ed5466 0,#dd4250 100%);
	background: -o-linear-gradient(top,#ed5466 0,#dd4250 100%);
	background: linear-gradient(top,#ed5466 0,#dd4250 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed5466',endColorstr='#dd4250',GradientType=0);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dd4250;
}
.miniLogin_btn a {
	float: right;
	color: #6a6a6a;
	background: #ddd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7',GradientType=0);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(#fff,0),color-stop(#f7f7f7,1));
	background: -webkit-linear-gradient(top,#fff 0,#f7f7f7 100%);
	background: -moz-linear-gradient(top,#fff 0,#f7f7f7 100%);
	background: -o-linear-gradient(top,#fff 0,#f7f7f7 100%);
	background: linear-gradient(top,#fff 0,#f7f7f7 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
}
.miniLogin_btn input, .miniLogin_btn a {
	width: 46%;
	display: block;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	margin:20px 0 50px 0;
}
.header .top .miniCart {
	width:110px;
	height: 40px;
	line-height: 40px;
	float:right;
	font-size:12px;
	display:inline-block;
	border:3px solid #f5f7fa;
	border-radius:5px 5px 0 0;
	vertical-align: middle;
	text-align: center;
	cursor:pointer;
}
.header .top .miniCart:hover {
	background: #fff;
	border-color:#ededed;
	border-bottom: none;
}
.header .top .miniCart  .cart-bt{
	display:inline-block;
	width: 16px;
	height: 13px;
	background-position: -294px -53px;
}
.mini-cart-list {
	display:none;
	width: 327px;
	position: absolute;
	top: 50px;
	right: 36px;
	border: 3px solid #ededed;
	border-radius: 5px 0 5px 5px;
	background: #fff;
	text-align: left;
	font-size: 12px;
}
.mini-cart-list .loading {
	padding: 20px;
	color: #999;
	text-align: center;
}
.header .nav{
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	background: #dd4250;
	-webkit-border-radius: 4px 4px 4px 0;
	-moz-border-radius: 4px 4px 4px 0;
	border-radius: 4px 4px 4px 0;
	margin-top:20px;
}
.header .nav .all-cat{
	float: left;
	display: inline-block;
	width: 229px;
	border-right: 1px solid #dd4250;
}
.header .nav .all-cat a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: 400;
	text-decoration: none;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.header .nav .links{
	display:inline-block;
	color: #fff;
}
.header .nav .links ul li{
	float:left;
	height: 45px;
	line-height: 45px;
}
.header .nav .links ul li a{
	display: block;
	padding: 0px 12px 0px 12px;
	height: 100%;
	color: #fff;
	text-decoration: none;
	cursor:pointer;
}
.header .nav .links ul li a:hover{
	background: #ed5466;
}
.main .side-cat{
	position: absolute;
	left: 0px;
	z-index: 999;
	width: 230px;
	color: #333;
}
.main .side-cat ul{
	height: 100%;
	background: #fffbea;
}
.main .side-cat ul li {
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #f4edd9;
	vertical-align: bottom;
	cursor:pointer;
}
.main .side-cat ul li:hover{
	background-color:rgb(252,245,222);
}
.main .side-cat ul li .cat-tit{
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	text-indent: 16px;
	color: #974c19;
	text-decoration: none;
}
.main .side-cat ul li .arrow{
	width: 14px;
	height: 14px;
	background-position: -278px -52px;
	position: absolute;
	right: 12px;
	top: 14px;
}
.main .side-cat ul li .showPos{
	position: absolute;
	right: -3px;
	top: 10px;
	z-index: 3010;
	display: inline-block;
	width: 0px;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	border: 12px solid #e5e5e5;
	border-color: transparent #e5e5e5 transparent transparent;
	border-style: dashed solid dashed dashed;
	display:none;
}
.main .side-cat ul li .showPos i{
	position: absolute;
	left: -2px;
	top: -7px;
	display: inline-block;
	width: 0px;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	border: 7px solid #ffffff;
	border-color: transparent #ffffff transparent transparent;
	border-style: dashed solid dashed dashed;
}
.main .side-cat ul li .subCat{
	display:none;
	position: absolute;
	left: 230px;
	top: 0px;
	z-index: 3000;
	width: 224px;
	font-size: 12px;
	background: #fff;
	border: 3px solid #ededed;
	padding: 5px 0;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.main .side-cat ul li .subCat .lists{
	margin-left:25px;
}
.main .side-cat ul li .subCat a{
	display: block;
	color: #434a54;
	height:60px;
	line-height: 60px;
	font-size: 14px;
}
.main .side-cat ul li .subCat a:hover{
	color: #f84858;
}
.main .side-cat ul li .subCat a img{
	width:40px;
	height:40px;
	margin-right: 10px;
	vertical-align: middle;
	border: 0;
}