@charset "utf-8";
.shopping{
	width: 950px;
	min-height: 406px;
	position: relative; 
	overflow:hidden;
	float:right;
	margin-top:19.5px;
}
.shopping .filter {
	border:1px solid #CCC;
}
.shopping .filter .filter-header{
	height:40px;
	line-height:40px;
	background-color:#f7f7f7;
	padding-left:20px;
}
.shopping .filter .filter-header .cat{
	color:#dd4250;
}
.shopping .filter .filter-body .filter-item{
	padding-left:60px;
	border-top:1px dashed #CCC;
}
.shopping .filter .filter-body .filter-item .param{
	width:80px;
	margin-top:5px;
	float:left;
}
.shopping .filter .filter-body .filter-item dl{
	width:600px;
	float:left;
}
.shopping .filter .filter-body .filter-item dl dd{
	width:50px;
	float:left;
	height:30px;
	line-height:30px;
	margin-left:5px;
}
.shopping .filter .filter-body .filter-item dl dd a{
	color:#dd4250;
	display:inline-block;
	width:50px;
	height:25px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.shopping .filter .filter-body .filter-item dl dd a:hover{
	background-color:#FF9999;
	color:white;
	cursor:pointer;
}
.shopping .filter .filter-body .filter-item dl dd  .check{
	background-color:#dd4250;
	color:white;
	cursor:arrow;
}
.shopping .products-header{
	border:1px solid #CCC;
	margin-top:10px;
	padding:5px 5px 5px 20px;
}
.shopping .products-footer{
	border:none !important;
}
.shopping .products-header .order{
	float:left;
	width:500px;
}
.shopping .products-header .order span{
	display:inline-block;
	margin-top:5px;
	float:left;
}
.shopping .products-header .order ul{
	float:left;
}
.shopping .products-header .order ul .price{
	width:50px;
}
.shopping .products-header .order ul .time{
	width:80px;
}
.shopping .products-header .order ul .check{
	background-color:#dd4250;
	color:white;
	cursor:arrow;
}
.shopping .products-header .order ul li{
	float:left;
	text-align:center;
	color:#dd4250;
	height:25px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	border:1px solid #dd4250;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin-right:10px;
}
.shopping .products-header .order ul li:hover{
	background-color:#dd4250;
	color:white;
	cursor:pointer;
}
.shopping .products-header .page{
	float:right;
	width:280px;
}
.shopping .products-header .order ul,.shopping .products-header .page{
	margin-top:5px;
}
.shopping .products-header .page{
	font-size:14px;
}
.shopping .products-list .lists .box{
	width: 220px;
	height: 210px;
	float:left;
	border: 1px #e8e8e8 solid;
	padding: 2px;
	position: relative;
	margin: 0 11px 21px 0;
	background-color: #fff;
	position:relative;
}
.shopping .products-list .lists .box:hover{
	box-shadow: 0 0 3px #dd4250;
	-webkit-box-shadow: 0 0 3px #dd4250;
	-moz-box-shadow: 0 0 3px #dd4250;
	border: 1px #ed5466 solid;
}
.shopping .products-list .lists .box a img{
	width: 220px;
	height: 124px;
}
.shopping .products-list .lists .box a  .title{
	font-size:12px;
	display:block;
	width:215px;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.shopping .products-list .lists .box a  .title:hover{
	color:#dd4250;
}
.shopping .products-list .lists .box  .price{
	color:#dd4250;
}
.shopping .products-list .lists .box  .oper{
	width:205px;
	margin:5px auto;
}
.shopping .products-list .lists .box  .oper input{
	width:100px;
	height:25px;
	line-height:25px;
	font:12px Microsoft Yahei;
	border:none;
	cursor:pointer;
	background-color:#FF7373;
	color:white;
	outline:none;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.shopping .products-list .lists .box  .oper input:hover{
	background-color:#FF4C4C;
	color:white;
}